<!-- Form - List - Posts -->
<%= form_with(model: list_post, local: true) do |form| %>

    <div class="row">
    	<div class="col-md-3">

    		<!-- Panel - Publishing -->
    		<div class="panel panel-inverse">
    			<div class="panel-heading">
    				<h4 class="panel-title">List Publish Panel</h4>
    			</div>
    			<div class="panel-body">
    				<div class="form-group field_with_errors">
    					<%= form.label :list_post_status, "Post Status" %>
    					<%= form.select( :list_post_status, [["Draft","draft"],["Published","published"],["Review","review"]], {}, {class: "form-control"}) %>
    				</div>
    				<div class="actions">
    					<%= form.submit class: "btn btn-primary" %>
    				</div>
    			</div>
    		</div>
    		<!-- Panel - Publishing -->

    		<!-- Panel - Image Uploading -->
    		<div class="panel panel-inverse">
    			<div class="panel-heading">
    				<h4 class="panel-title">List Images</h4>
    			</div>
    			<div class="panel-body">
    				<div class="form-group field_with_errors">
    					<%= form.label :list_post_image, "Featured Image" %>
    					<%= form.file_field :list_post_image, class: "form-control" %>
    				</div>
    				<% if form.object.list_post_image.attached? %>
    					<%= image_tag main_app.url_for(form.object.list_post_image), class: "img-responsive img-thumbnail" %>
    				<% end %>
    			</div>
    		</div>
    		<!-- Panel - Image Uploading -->

    		<!-- Panel - Article - Categories -->
    		<div class="panel panel-inverse">
    			<div class="panel-heading">
    				<h4 class="panel-title">List Options</h4>
    			</div>
    			<div class="panel-body">
    				<%= form.collection_check_boxes :category_ids, PhcdevworksCoreModules::Post::Category.all, :id, :post_category_name do |post_category| %>
    					<%= post_category.check_box %>
    					<%= post_category.label %><br>
    				<% end %>
    				<div class="form-group">
    					<label>Attach SEO Data</label>
    					<%= collection_select(:list_post, :optimization_id, PhcdevworksCoreModules::Marketing::Optimization.order("marketing_optimization_page_title"), :id, :marketing_optimization_page_title, {include_blank: true}, {class: "form-control"}) %>
    				</div>
    			</div>
    		</div>
    		<!-- Panel - Article - Categories -->

    	</div>
    	<div class="col-md-9 ">

    		<!-- PHCNotifi Render Validation -->
    		<%= render "phcdevworks_notifications/bootstrap/validations", :object => @list_post %>
    		<!-- PHCNotifi Render Validation -->

    		<div class="panel panel-inverse">
    			<div class="panel-heading">
    				<h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
    			</div>
    			<div class="panel-body">
    				<div class="form-group field_with_errors">
    					<%= form.label :list_post_title, "List Title" %>
    					<%= form.text_field :list_post_title, class: "form-control" %>
    				</div>
    				<div class="form-group ">
    					<%= form.text_area :list_post_text, class: "form-control editor" %>
    					<div id="word-count" class="mt-3"></div>
    				</div>
    			</div>
    		</div>

    	</div>
    </div>

<% end %>
<!-- Form - List - Posts -->
