<!-- PHCTitleSEO Title Variables -->
<% phc_title "Reviews Manager" %>
<% phc_title_tagline "Reviews Index" %>
<% phc_breadcrumb_one yield(:phc_title) %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- PHCTitleSEO Title Variables -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h2 class="page-header"><%= yield(:phc_title) %></h2>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">
	<div class="col-lg-12">

		<!-- Panel -->
		<div class="panel panel-inverse">

			<!-- Panel - Heading -->
			<div class="panel-heading">
				<h4 class="panel-title"><%= yield(:phc_title) %></h4>
			</div>
			<!-- Panel - Heading -->

			<!-- Panel - Body -->
			<div class="panel-body">

				<!-- Index - Table -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">

						<thead>
							<tr>
								<th>Review Headline</th>
								<th>Text Preview</th>
								<th>Review Status</th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<% @review_posts.each do |review_post| %>
								<tr>
									<td><%= review_post.review_post_title %></td>
									<td><%= truncate(review_post.review_post_text, :length => 80, :escape => false) %></td>
									<td><%= review_post.review_post_status.capitalize %></td>
									<td>
										<div class="btn-group d-flex" role="group">
											<%= link_to "Update Review", edit_review_post_path(review_post), class: "btn btn-primary btn-xs" %>
											<%= link_to "Remove Review", review_post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
										</div>
									</td>
								</tr>
							<% end %>
						</tbody>

					</table>
				</div>
				<!-- Index - Table -->

				<!-- New Button -->
				<%= link_to phcdevworks_press.new_review_post_path, class: "btn btn-primary" do %>
					<i class="fad fa-plus-circle"></i>
					<%= "Add a New Review" %>
				<% end %>
				<!-- New Button -->

			</div>
			<!-- Panel - Body -->

		</div>
		<!-- Panel -->

	</div>
</div>
<!-- Page Content -->
